// Import custom font from Google
@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather|Roboto&amp;subset=cyrillic,cyrillic-ext');

// Override / set color variables
$white: #fff;
$black: #000;
$green: #00e389;
$blue: #083f64;
$orange: #f26c22;
$yellow: #ffd925;
$red: #e5001e;

// Set brand colors
$primary: $blue;
$secondary: #43a59f;
$success: $green;
$info: $yellow;
$warning: $orange;
$danger: $red;


// Override fonts
$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-serif: Georgia, 'Times New Roman', Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, 'Liberation Mono',
  'Courier New', monospace;
$font-family-base: $font-family-sans-serif;

// Set global options
$enable-shadows: false;
$enable-gradients: true;
